/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --main-color: #38435f;
  --color-daek: #1d2231;
  --text-grey: #8390a2;

  --purple: #e41b6f;
  --off-white: #f8f8f8;
  --off-black: #444444;
  --shadow: 0 0 30px #cccccc;
  --xs: 0.2rem;
  --sm: 0.5rem;
  --md: 0.8rem;
  --lg: 1rem;
  --xlg: 1.5rem;
  --xxlg: 2rem;
  --transition: 0.3s linear all;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 250px;
}
.sidebar.close {
  width: 78px;
}
.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar .logo-details .logo_name img {
  width: 150px;
  padding-top: 40px;
  padding-left: 20px;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links {
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover {
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link {
  display: block;
}
.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow {
  display: none;
}
.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name {
  font-size: 10pt;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}
.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}
.home-section {
  position: relative;
  background: #f1f5f9;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu {
  cursor: pointer;
  padding-top: 1rem;
}
.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}
/* main content */
.main-content {
  margin-left: 345px;
  width: 100%;
}

/* navigasinya */
#nav-toggle {
  display: none;
}

/* ini content */
header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  /* position: fixed; */
  /* left: 345px; */
  /* width: calc(100% - 345px); */
  width: 100%;
  top: 0;
  z-index: 100;
  /* transition: width 300ms; */
}

/* ini yang bar */
.header label span {
  font-size: 1.7rem;
  padding-right: 1rem 1.5rem;
  align-items: center;
}

header h2 {
  color: #222;
}

/* bagian yang user kanan */
.user-wrapper {
  display: flex;
  align-items: center;
}

.user-wrapper i {
  margin-right: 1rem;
}

.user-wrapper small {
  display: inline-block;
  color: var(--text-grey);
}

/* main */
main {
  /* margin-top: 80px; */
  padding: 0rem 1.5rem;
  background: #f1f5f9;
  min-height: calc(100vh - 90px);
}

.project {
  background: #fff;
  border-radius: 5px;
}

.project-header {
  padding: 1rem;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

.project-header button {
  background: var(--main-color);
  border-radius: 10px;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--main-color);
}

td button {
  background: var(--main-color);
  border-radius: 10px;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--main-color);
}

.card {
  background: #fff;
  border-radius: 5px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

.card-header button {
  background: var(--main-color);
  border-radius: 10px;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--main-color);
}

.card-header,
.card-body {
  padding: 1rem;
}

.recent-flex {
  margin-top: 3.5rem;
  display: grid;
  grid-gap: 2rem;
}

.recent-grid {
  margin-top: 3.5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 67% auto;
}
/* buat table */
table {
  border-collapse: collapse;
}

table tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  padding: 0.5rem 0rem;
}

thead td {
  font-weight: 700;
}

td {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #222;
}

td .status {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 1rem;
}

tr td:last-child {
  display: flex;
  align-items: center;
}

.status.paid {
  background: #39a852;
}

.status.process {
  background: #d4af37;
}
@media only screen and (max-width: 1200px) {
  /* nav slidenya */
  .sidebar {
    /* transition: width 300ms; */
    width: 70px;
  }

  /* #nav-toggle:checked + .sidebar .sidebar-brand img,
  #nav-toggle:checked + .sidebar .sidebar-menu {
  } */

  #nav-toggle:checked > .bx.bx-menu {
    left: 0 !important;
    z-index: 100;
    width: 345px;
  }

  .sidebar li a {
    padding-left: 0rem;
    text-align: center;
  }

  /* .sidebar li a span {
    /* padding-right: 1rem; */
  */ .sidebar .sidebar-brand img:last-child,
  .sidebar li a span:last-child {
    display: none;
  }

  .main-content {
    padding-left: 0;
    width: 100%;
  }

  .main-content header {
    width: calc(100% - 70px);
    left: 70px;
  }
}

@media only screen and (max-width: 768px) {
  header h1 {
    display: flex;
    align-items: center;
    text-align: center;
  }

  header h1 label {
    display: block;
    text-align: center;
    align-items: center;
    background: var(--main-color);
    padding-right: 0rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center !important;
  }
  header h1 span {
    text-align: center;
    padding-right: 0rem;
    padding-top: 0.5rem;
  }

  header h2 {
    font-size: 1.1rem;
  }
  .main-content {
    width: 100%;
    margin-left: 0rem;
  }
  header {
    width: 100% !important;
    left: 0 !important;
  }
}
/* table responsive */
.table-responsive {
  width: 100%;
  overflow-x: auto;
}
/* bagian customer */
.customer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.info {
  display: flex;
  align-items: center;
}

.info img {
  border-radius: 50%;
  margin-right: 1rem;
}

.info h4 {
  font-size: 0.8rem;
  font-weight: 600;
  color: #222;
}

.info small {
  font-weight: 600;
  color: var(--text-grey);
}

@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
}

/* bagian tag */
form {
  box-shadow: var(--shadow);
  border-radius: 2px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--lg);
  padding: var(--xlg) var(--xxlg);
}

.input-container {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  column-gap: var(--lg);
  row-gap: var(--sm);
}

input {
  border: 1px solid var(--purple);
  outline-color: var(--purple);
  padding: var(--sm);
}

button {
  background-color: var(--purple);
  color: var(--off-white);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  transition: var(--transition);
}

button:hover {
  background-color: hsl(335, 89%, 40%);
}

.tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tag {
  background-color: var(--purple);
  border-radius: 10px;
  color: var(--off-white);
  font-size: var(--md);
  margin-top: var(--sm);
  margin-right: var(--sm);
  margin-left: var(--sm);
  padding: var(--xs) var(--sm);
}

.remove-tag {
  cursor: pointer;
  margin-left: 5px;
}
/* card slider */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* sek ya sa mumet ra nemu isihan wkwk */

.container {
  overflow: hidden;
  padding-top: 50px !important;
}

.container .main-card {
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: 1s;
}
#two:checked ~ .main-card {
  margin-left: -100%;
}
.container .main-card .cards {
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}
.main-card .cards .single_card {
  width: calc(100% / 3 - 10px);
  height: 200px;
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.main-card .cards .single_card:hover {
  transform: translateY(-15px);
}
.cards .single_card .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.cards .single_card .content .details {
  width: fit-content;
}
/* .cards .single_card .content .img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #ff676d;
  margin-bottom: 14px;
}
.single_card .content .img img {
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
} */
/* .single_card .content .name {
  font-size: 20px;
  font-weight: 500;
}
.single_card .content .job {
  font-size: 20px;
  color: #ff676d;
} */
.single_card .content .media-icons {
  margin-top: 10px;
  display: flex;
}
.media-icons a {
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 35px;
  margin: 0 4px;
  font-size: 14px;
  color: #fff;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #ff676d;
  transition: all 0.3s ease;
}
.media-icons a:hover {
  color: #ff676d;
  background-color: #fff;
  border-color: #ff676d;
}
.container .button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button label {
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #fff;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button label.active {
  width: 35px;
}
#one:checked ~ .button .one {
  width: 35px;
}
#one:checked ~ .button .two {
  width: 15px;
}
#two:checked ~ .button .one {
  width: 15px;
}
#two:checked ~ .button .two {
  width: 35px;
}
input[type="radio"] {
  display: none;
}
@media (max-width: 768px) {
  .main-card .cards .single_card {
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 600px) {
  .main-card .cards .single_card {
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}
